/* purgecss start ignore */

@tailwind base;
@tailwind components;

html, body {
  overflow-x: hidden;
}
html {
  font-family: "Rubik", sans-serif;
}
body {
  @apply bg-white-500;
}
p {
  @apply text-black-500;
}
ul {
  list-style-type: disc;
}
.wrapper {
  width: 100%;
}
.wrapper ul {
  position: relative;
  left: 40%;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
